boddy{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 38px;
}
p{
    font-size: 24px;
    color: dimgray;
    
}
.orange-highlight{
    color: orange;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 8px;
    background-image: linear-gradient(65deg, dimgray, orange);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.middle{
    text-align: center;
}

.box{
    box-sizing: border-box;
}
.bame-capa{
    width: 30%;
    float: left;
    margin-left: 34px;
}
.bame-capa img{
    height: 320px;
    width: 100%;
}
.head-boro{
    font-size: 28px;
}
#bgimg{
    background-image: url(imgs/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.first-portion{
    border: 1px solid gray;
    background-image: url(imgs/biography-bg.png);
    background-repeat: no-repeat;
}
.second-portion{
    border: 1px solid gray;
    background-image: url(imgs/footer-bg.png);
    background-repeat: no-repeat;
}
.third-portion{
    border: 1px solid gray;
    background-image: url(imgs/header-bg.png);
    background-repeat: no-repeat;
}
.forth-portion{
    border: 1px solid gray;
    background-image:  url(imgs/biography-bg.png);
    background-repeat: no-repeat;
}
.height{
    height: 600px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 80px;
    
}
.forth-section{
    height: 200px;
    border-radius: 50px;
    margin: 65px 300px;
}
.adjust{
    background-image: url("imgs/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
h4{
    
    font-size:60px;
    margin: auto;
    color: white;
    align-items: center;
    padding-top: 65px;
    
    
}
h5{
    padding-left: 200px;
    padding-top: 75px;
}
footer p{
    text-align: center;
}
footer h2{
    text-align: center;
}
#shadow{
    box-shadow: 10px 10px 800px rgba(93, 105, 233, 1);
}
#ektu-jhal{
    border-right: 8px solid;
    border-top: 8px solid;
    border-image: linear-gradient(180deg, orange, pink);
    border-image-slice: 1;
}
#ektu-tok{
    border-left: 8px solid;
    border-top: 8px solid;
    border-image: linear-gradient(180deg, cyan, gray);
    border-image-slice: 1;
}
#misti{
    border-top: 8px dotted;
    border-right: 8px dotted;
   
    border-left: 8px dotted;
    border-image: linear-gradient(180deg, orange, gray);
    border-image-slice: 1;
}
